
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span>Menu</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="./assets/Eurovision_Services_Logo.png" class="titleImage" routerLink="./"/>
  </mat-toolbar>


  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

